body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: #282c34;
  color: white;
  text-align: center;
}

.appBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #282c34;
  width: 70%;
  display: flex;
  justify-content: center;
}

.introText p {
  font-size: 15px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  color: #ccc;
}

.introText p1 {
  font-size: 25px;
  font-family: Chalkduster, fantasy;
  color: #ccc;
  position: relative;
  top: 150px;
}

.App-header {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}